on post-fs
    setprop persist.vendor.nfc.config_file_name /vendor/etc/st21nfc_conf.conf
    enable st_nfc_hal

service st_nfc_hal /vendor/bin/hw/android.hardware.nfc-service.st
    class hal
    user nfc
    group nfc
    disabled
    override